.about {
    height: 100vh;
    background: linear-gradient(152deg, rgba(112,37,50,1) 0%, rgba(59,0,10,1) 100%);
    padding-left: 30vh;
    display: flex;
    align-items: center;
    justify-items: start;
}

